<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:action="@{/transferencia/transferir/paso2}" th:object="${paso2DTO}">
        <h1>Resumen de la transferencia</h1>
        <label>Cuenta Origen:</label><span th:text="${cuenta.iban}"></span>
        <br>
        <label>Beneficiario:</label><span th:text="${transferencia.nombreBeneficiario}"></span>
        <br>
        <label>Iban de destino:</label><span th:text="${transferencia.ibanDestino}"></span>
        <br>
        <label>Importe:</label><span th:text="${transferencia.importe}"></span>
        <br>
        <label>Concepto:</label><span th:text="${transferencia.concepto}"></span>
        <br>
        <label>Fecha programada</label><span th:text="${transferencia.fechaProgramada}"></span>
        <br>
        <label>Verificacion de seguridad</label>
        <br>
        <label>Introduce el codigo</label>
        <br>
        <input th:field="*{codigo}" id="codigo" required name="codigo">
        <div th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
        <a th:href="@{/transferencia/transferir/paso1}"><button type="button">Volver al paso 1</button></a>
        <button>Confirmar</button>
    </form>
</body>
</html>